@import "tailwindcss";



html.dark {
  color-scheme: dark;
}

html.dark body {
  background-color: #000000;
  color: #ffffff;
}

html.dark .border,
html.dark .border-b,
html.dark .border-t,
html.dark .border-l,
html.dark .border-r,
html.dark .border-border {
  border-color: rgba(148, 148, 148, 0.6);
}

html.dark .theme-invert {
  filter: invert(1);
}
html.dark .theme-inverty {
  filter: invert(1);
}html.dark .theme-inverty:hover {
  filter: invert(1);
}

html.dark .theme-invert:hover {
  filter: invert(0);
}

.text-stroke {
  -webkit-text-stroke: 3px #000000;
}

html.dark .text-stroke {
  -webkit-text-stroke: 3px #ffffff;
}
.text-stroke-1 {
  -webkit-text-stroke: 1px #000000;
}
.text-stroke-1-b {
  -webkit-text-stroke: 1px #000000;
}
.text-stroke-1-w {
  -webkit-text-stroke: 1px white;
}

html.dark .text-stroke-1 {
  -webkit-text-stroke: 1px #ffffff;
}

.project-secondary {
  color: #000000 !important;
}

html.dark .project-secondary {
  color: #d1d5db !important;
}
