@import "tailwindcss";

body
{
  font-family: var(--font-cursive);
}

@keyframes marq
{
  0%{transform: translateX(0%);}
  100%{transform: translateX(-100%);}
}

.marq{
  animation: marq 60s linear infinite;
}




/* globals.css */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

[data-theme="dark"] {
  --color-bg: #111827;
  --color-text: #f3f4f6;
}
